@import "tailwindcss";
@import "@nuxt/ui";

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nuxt-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
